<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin create guest</title>
  </head>
  <body>
    <h1>Admin create guest</h1>
    <form method="POST" action="/admindashboard/admincreateguest/?admin_id={{admin_id}}">
      {% csrf_token %}
      <!-- {{ form.as_p }} -->
      <label for="first_name">First Name:</label>
      <input placeholder="enter first name" type="text" name="first_name" required><br><br>
      <label for="last_name">Last Name:</label>
      <input placeholder="enter last name" type="text" name="last_name" required><br><br>
      <label for="phone_number">Phone Number:</label>
      <input placeholder="enter phonenumber" type="text" name="phone_number" required><br><br>
      <label for="email">Email:</label>
      <input placeholder="enter email" type="text" name="email" required><br><br>
      <label for="password">Password:</label>
      <input placeholder="enter password" type="text" name="password" required><br><br>
      <button type="submit">Create guest</button>
    </form>

    {% if form.errors %}
    {% if form.errors.email %}
      <script>
        alert("This email is already registered. Please choose a different email.");
      </script>
    {% endif %}
    {% if form.errors.non_field_errors %}
      <script>
        alert("Invalid form data. Please check your input and try again.");
      </script>
    {% endif %}
  {% endif %}
    

  </body>
</html>

