{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Dashboard</title>
</head>
<body>
    <a href="../roomspage/?guest_id={{guest.id}}">View rooms</a>

    <!-- !SHOW UPCOMING/ACTIVE RESERVATION -->

    <table class="table">
        <thead>
          <tr>
            <th scope="col">s/n</th>
            <th scope="col">Room</th>
            <th scope="col">Room Type</th>
            <th scope="col">Reservation starts</th>
            <th scope="col">Reservation ends</th>
            <th scope="col">Reservation status</th>
            <th scope="col">Services</th>
          </tr>
        </thead>
        <tbody>
          {% for reservation in reservations %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ reservation.room.room_number }}</td>
              <td>{{ reservation.room.getType }}</td>
              <td>{{ reservation.begin_date }}</td>
              <td>{{ reservation.end_date }}</td>
              <td>{{ reservation.get_status }}</td>
              <td>
                {% for service in reservation.services.all %}
                    <span>{{ service.name }}</span>,
                {% endfor %}
            </td>
              <td><a href="../updatereservation/?room_number={{ reservation.room.room_number}}&guest_id={{guest.id}}&reservation_id={{reservation.pk}}">update</a ></td>
              <td class="cancel-link" data-reservation-id="{{ reservation.pk }}">cancel</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <p>UPCOMING reservation: {{ upcoming_reservation }}</p>
      <p>active reservation: {{ active_reservation }}</p>

      <div class="phone">
        <div class="header">
            YOU
        </div>
    
        <div class="chat-area">
          {% for message in messages %}
            {% if message.sender == guest %}
              <div class="message sender">{{ message.text }}</div>
            {% else %}
                <div class="message receiver">{{ message.text }}</div>
            {% endif %}
          {% endfor %}
        </div>
    
        <div class="tools">
            <input class="input-area" type="text"><button class="send">send</button>
        </div>
    </div>
</body>

<script>
    const cancelLinks = document.querySelectorAll('.cancel-link');
    
    cancelLinks.forEach(link => {
      link.addEventListener('click', (event) => {
        event.preventDefault();
        const reservationId = link.getAttribute('data-reservation-id');
        
        if (confirm('Are you sure you want to cancel this reservation?')) {
          fetch(`/cancelreservation/?reservation_id=${reservationId}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
          })
          .then(response => {
            if (response.ok) {
              // Optionally, you can remove the row from the table or perform other actions
              link.closest('tr').remove();
            } else {
              throw new Error('Error: ' + response.status);
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
        }
      });
    });
  </script>

  <script>

    function getCSRFToken() {
        const cookieValue = document.cookie.match('(^|;)\\s*' + 'csrftoken' + '\\s*=\\s*([^;]+)');
        return cookieValue ? cookieValue.pop() : '';
    }

    let csrfToken = getCSRFToken();
    let chatArea = document.querySelector('.chat-area')
    let sendButton = document.querySelector('.send')
    let inputArea = document.querySelector('.input-area')

    sendButton.addEventListener('click', () => {
      console.log(243546578697)
      if(inputArea.value) {
        fetch(`/sendmessage/?sender={{guest.id}}&receiver=1`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({ text: inputArea.value })
          })
          .then(response => {
            if (response.ok) {
              let newMessage = document.createElement('div')
              newMessage.className = "message sender"
              newMessage.textContent = inputArea.value
              chatArea.append(newMessage)
              chatArea.scrollTop = chatArea.scrollHeight;
              inputArea.value = ""
            } else {
              throw new Error('Error: ' + response.status);
            }
          })
          .catch(error => {
            alert('Error:', error);
          });
      }
    })
  </script>

</html>