{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Login</title>
  </head>
  <body>
    <a href="/" class="logo">
      <img src="{% static 'images/home_icon.png' %}" height="40" width="40">
      <h1 class="logo-text">REGORA HOTELS</h1>
    </a>
    <form class="signup" method="POST" action="/loginUser/">
      {% csrf_token %}
      <h1 style="width: 400px; margin-bottom: 50px;">Log in to your account</h1>
    
      <div class="signup__field">
        <input class="signup__input" type="text" name="email" id="email" required />
        <label class="signup__label" for="email">Email</label>
      </div>
    
      <div class="signup__field">
        <input class="signup__input" type="password" name="password" id="password" required />
        <label class="signup__label" for="password">Password</label>
      </div>

    
      <button type="submit">Login</button>
    </form>

<p>{{error_message}}</p>
    {% if form.errors %}
      {% if form.errors.non_field_errors %}
        <script>
          alert("{{ form.errors.non_field_errors|join:' ' }}");
        </script>
      {% endif %}
      {% if form.errors.email or form.errors.password %}
        <script>
          alert("Invalid email or password.");
        </script>
      {% endif %}
    {% endif %}
  </body>
</html>
