<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve room</title>
  </head>
  <body>

    <a href="../dashboard/?guest_id={{guest_id}}">Back to dashboard</a> <br>
    {% if reservations %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">s/n</th>
            <th scope="col">Reservation starts</th>
            <th scope="col">Reservation ends</th>
            <th scope="col">Reservation status</th>
          </tr>
        </thead>
        <tbody>
          {% for reservation in reservations %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ reservation.begin_date }}</td>
              <td>{{ reservation.end_date }}</td>
              <td>{{ reservation.get_status }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <label for="begin_date">When will you check in to the room</label>
        <input type="date" name="begin_date" class="begin_date" required><br><br>
        <label for="end_date">When do you plan on leaving:</label>
        <input type="date" name="end_date" class="end_date" required><br><br>
        {% for service in services %}
            <label>
                <input type="checkbox" class="services" name="services" value="{{ service.id }}"> {{ service.name }}
            </label>
            <br>
        {% endfor %}

        <div class="transport">
            <label for="pickup-time">When should we pick you up</label>
            <input type="time" name="pickup-time" class="pickup-time" required><br><br>
            <label for="drop-off-time">When should we drop you off:</label>
            <input type="time" name="drop-off-time" class="drop-off-time" required><br><br>
        </div>
        <button class="button">Confirm reservation</button>
    <h1 class="reservation-title">Reservation for Room{{room.room_number}}({{ room.getType }})</h1>
    <p class="duration"></p>
    <p class="rate"></p>
    <p class="service-cost"></p>
    <p class="balance "></p>
    
  </body>

  <script>
    function getCSRFToken() {
        const cookieValue = document.cookie.match('(^|;)\\s*' + 'csrftoken' + '\\s*=\\s*([^;]+)');
        return cookieValue ? cookieValue.pop() : '';
    }

    let durationCost = 0
    let serviceCost = 0
    let totalBalance = 0
    let csrfToken = getCSRFToken();
    let transport = document.querySelector('.transport')
    let servicesList = document.querySelectorAll(".services")
    let begin_date = document.querySelector('.begin_date')
    let end_date = document.querySelector('.end_date')
    let pickup_time= document.querySelector('.pickup-time')
    let dropoff_time = document.querySelector('.drop-off-time')
    let submit = document.querySelector('.button')
    let duration = document.querySelector('.duration')
    let reservation_title = document.querySelector('.reservation-title')
    let rate = document.querySelector('.rate')
    let balance = document.querySelector('.balance')
    let serviceCostHTML = document.querySelector('.service-cost')
    let reservation_details = JSON.parse('{{ json_reservations|safe }}' || null);
    let serviceOptions = document.querySelectorAll(".services")
    let services_details = JSON.parse('{{ json_services|safe }}');

    transport.style.display = "none"

    submit.addEventListener('click', () => {
        const selectedServices = Array.from(servicesList)
        .filter(input => input.checked)
        .map(input => input.value);
        

        const current_date = new Date()
        const begin_date_value = new Date(begin_date.value)
        const end_date_value = new Date(end_date.value)

        let hasDateClash
        function isDateClashing() {
            const hasDateClash = reservation_details.some(reservation => {
                const existingStart = new Date(reservation.fields.begin_date);
                const existingEnd = new Date(reservation.fields.end_date);
    
                return (
                    (begin_date_value >= existingStart && begin_date_value <= existingEnd) ||
                    (end_date_value >= existingStart && end_date_value <= existingEnd) ||
                    (begin_date_value <= existingStart && end_date_value >= existingEnd)
                );
            });

            return hasDateClash
        }
        
        if(reservation_details && reservation_details.length > 0) {
            hasDateClash = isDateClashing()
        } else {
            hasDateClash = false
        }
        
        if((begin_date_value > current_date && end_date_value > begin_date_value)) {
            console.log(begin_date.value)
            console.log(end_date.value)
            console.log((end_date_value - begin_date_value)/(1000*60*60*24))
            if(hasDateClash) {
                alert("There is a clash with an existing reservation")
            } else {
                console.log("there is no date clash")
                fetch('/processReservation/?room_number={{room.room_number}}&guest_id={{guest_id}}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({
                        begin_date: begin_date.value, 
                        end_date: end_date.value, 
                        services: selectedServices,
                        pickup_time: pickup_time.value,
                        dropoff_time: dropoff_time.value
                    })
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Error: ' + response.status);
                    }
                })
                .then(data => {
                    console.log(data);
                    if (data.redirect_url) {
                        window.location.href = data.redirect_url;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        } else {
            alert("invalid date set")
        }
    })

    serviceOptions.forEach(serviceOption => serviceOption.addEventListener('change', e => {
        const userSelectedServices = Array.from(servicesList)
        .filter(input => input.checked)
        .map(input => input.value);

        if(serviceOptions[0].checked) {
            transport.style.display = "block"
        } else {
            transport.style.display = "none"
        }
        
        if(userSelectedServices && userSelectedServices.length > 0) {
            let x = 0
            userSelectedServices.forEach(selectedService => {
                let servicePrice = parseInt(services_details.find(service_detail => selectedService == service_detail.pk).fields.price)
                x += servicePrice

                serviceCostHTML.textContent = `Cost of selected services: $${x}`
            })
            serviceCost = x
        }
    }))


    begin_date.addEventListener('change', () => {
        const current_date = new Date()
        const begin_date_value = new Date(begin_date.value)
        const end_date_value = new Date(end_date.value)
        const ppn = parseInt(rate.textContent.split(" ")[1].split("$")[0])
        const length = ((end_date_value - begin_date_value)/(1000*60*60*24))

        if(begin_date_value > current_date && end_date_value > begin_date_value) {
            durationCost = ppn*length
            duration.textContent = "for " + length + " nights"
            balance.textContent = "Balance: $" + (durationCost+serviceCost)
        } 
    })

    end_date.addEventListener('change', () => {
        const current_date = new Date()
        const begin_date_value = new Date(begin_date.value)
        const end_date_value = new Date(end_date.value)
        const ppn = parseInt(rate.textContent.split(" ")[1].split("$")[0])
        const length = ((end_date_value - begin_date_value)/(1000*60*60*24))

        if(begin_date_value > current_date && end_date_value > begin_date_value) {
            durationCost = ppn*length
            duration.textContent = "for " + length + " nights"
            balance.textContent = "Balance: $" + (durationCost+serviceCost)
        } 
    })

    
    switch (reservation_title.textContent.split("(")[1].split(")")[0]) {
        case "basic":
            rate.textContent = "at 20$ per night"
            break;
        case "premium":
            rate.textContent = "at 30$ per night"
            break;
        case "executive":
            rate.textContent = "at 50$ per night"
            break;
    
        default:
            break;
    }

  </script>
</html>

