:root {
    --reddish: #B70404;
    --pinkish: #DB005B;
    --orangish: #F79327;
    --yellowish: #FFE569;
  }

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--pinkish);
  font-family: Rubik;
  overflow-x: hidden;
}

.logo {
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logo-text {
    color: black;
}


.bookingarea {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 80px;
}

.room {
    height: 300px;
    text-align: center;
    width: 400px;
    background-color: rgb(6, 2, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    gap: 15px;
    /* gap: 5px; */
}

.roomnumber {
    color: white;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 4%;
}

.actions > div {
    width: 48%;
    height: 50px;
    /* background-color: yellow; */
}

.available {
    background: red;
    cursor: pointer;
    color: white;
    padding: 10px 5px;
    border-radius: 10px;
}

.availability {
    color: white;
    padding: 0 10px;
}

.unavailable {
    padding: 10px 5px;
    border-radius: 5px;
    background: gray;
    color: rgb(2, 0, 5);
}

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .banner {
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    top: 60px;
    align-items: center;
    position: relative;
    background-color: rgb(2, 0, 5);
  }
  
  .banner-text {
    color: white;
    position: absolute;
    white-space: nowrap;
    animation: scrolling 10s linear infinite;
  }
  

  .basic {
    color: green;
    text-transform: uppercase;
}

  .premium {
      text-transform: uppercase;
      color: red;
    }
    
  .executive {
    text-transform: uppercase;
    color: gold;
  }